{{template "base" .}}
{{define "title"}}资产{{end}}
{{define "css"}}
    <link rel="stylesheet" href="/static/css/select2.min.css">
{{end}}
{{define "body"}}
    <div class="container">
        <h4 class="my-3">添加</h4>
        <hr>
        <form action="/assets" method="POST">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            {{with .Form}}
                <div class="mb-2">
                    <label for="asset_number" class="form-label">编号</label>
                    {{with .Errors.Get "asset_number"}}
                        <label class="error">
                            <i class="icon-error-outline"></i>
                            {{.}}
                        </label>
                    {{end}}
                    <input type="text" id="asset_number" name="asset_number" class="form-control" value='{{.Get "asset_number"}}'>
                </div>
                <div class="mb-2 col-md-3" id="div_category">
                    <label class="form-label" for="category_code">类型</label>
                    <select class="form-select category" id="category_code" name="category_code" required>
                        <option value='{{.Get "category_code"}}'>{{.Get "category_name"}}</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label class="form-label">供应商</label>
                    <input type="text" id="supplier" name="supplier" class="form-control" value='{{.Get "supplier"}}'>
                </div>
                <div class="mb-2">
                    <label class="form-label">型号</label>
                    <input type="text" id="model" name="model" class="form-control" value='{{.Get "model"}}'>
                </div>
                <div class="mb-2">
                    <label class="form-label">序列号</label>
                    <input type="text" id="sn" name="sn" class="form-control" value='{{.Get "sn"}}'>
                </div>
                <div class="mb-2 col-md-2">
                    <label class="form-label">质保期</label>
                    <input type="date" id="warranty" name="warranty" class="form-control" value='{{.Get "warranty"}}' required>
                </div>
                <div class="mb-2">
                    <label for="remark">备注</label>
                    <textarea name="remark" id="remark" class="form-control"></textarea>
                </div>
                <input type="submit" id="save" value="保存" class="btn btn-primary"/>
            {{end}}
        </form>
    </div>
{{end}}
{{define "script"}}
    <script src="/static/js/select2.full.min.js"></script>
    <script src="/static/js/zh-CN.js"></script>
    <script src="/static/js/myselect2.js"></script>
    <script>
        $('#save').click(function (e) {
            var assetNumber = $('#asset_number').val();
            if (assetNumber.trim() == "") {
                toast('编号', '请输入资产编号');
                e.preventDefault();
                return
            }
            // TODO: check asset_number exist or not
        });
    </script>
{{end}}